{% extends "store_index/base.html" %}
{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:,">
        
        
        {% block head %}
        <title>About Us</title>
        <style>
 
            
        </style>
        {% endblock %}

    </head>
    <body>
    {% block content %}
           
        <div class="container mt-3">
            <div class="row justify-content-center">
                <div class="col-12 d-flex flex-column justify-content-center text-center">
                <!-- Start adding things here !!-->
                <h1>About Us</h1>
                <p> PunkyCuts is a small local business creating prints, shirts, bags, mugs and more. </p><p>Residing in the Northside/Cincinnati area, all products are handmade out of her own home.</p><p>Exploring her love for creating and sharing handmade gifts, creator and owner Cassy ("Punky") Kohls started PunkyCuts upon receiving a Cricut for her birthday.</p>
          

                </div>
            </div>

        </div>
    {% endblock %}
    </body>
</html>