{% load static %}
{% load postman_tags %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:,">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <title>
        {% block title %}
        {% endblock %}
        </title>

        {% block head %}
        
        {% endblock %}

        {% block extrahead %}
        {% endblock %}

        <style>
        .nav-link {
            margin-left: 8px;
            margin-right: 8px;
        }
        .nav-item:hover .dropdown-menu{
            display: block!important;
        }
        .account:hover .dropdown-menu{
            display: block!important;
            margin-top: 37px;
        }
        .dropdown-item {
            text-align: center;
        }
        .dropdown-menu {
            min-width:100%;
        }
        .page-container {
            min-height: 100vh;
        }
        main {
            padding-bottom: 1rem;
        }
        #btngroup {
            position: relative;
            z-index: 1030;
        }
        .btn-dark:hover { 
            color: rgba(255,255,255,0.75);
        }
        .notification{
            z-index: 2;
            position: absolute;
            top: 1rem;
            left: 1rem;
        }
        .writeTableStyle td{
            padding: 5px;
        }
        .table td.noborder,
        .table th.noborder {
            border-bottom: 0;
        }
        .remove-cart-prd {
            background: url('{% static '/remove.png' %}')
        }
        </style>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous">        
        </script>
        <script>
            $(document).ready(function(){
                $('[data-bs-toggle="popover"]').popover();   
            });
        </script>
        <script type="text/javascript" src="{% static 'scripts.js' %}"></script>
    </head>
    <body>
        <div class="page-container container d-flex flex-column">
            <header>
                <div class="container">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="{% static '/banner.png' %}" alt="Punky Cuts Banner">
                        <div class="card-img-overlay">
                            <div class="btn-group float-end" id="btngroup" role="group" aria-label="Account and Cart">
                                <div class="btn-group {% if user.is_authenticated %} account {% endif %}">
                                    {% if user.is_authenticated %}
                                    <button class="btn btn-dark dropdown-toggle shadow-sm" id="accountDropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Account
                                    </button>
                                    {% else %}
                                    <a class="btn btn-dark shadow-sm" href="{% url 'login' %}" id="loginBtn" role="button">Log In</a>
                                    {% endif %}
                                    <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                                        {% postman_unread as unread_count %}
                                        <li><a class="dropdown-item" href="messages/inbox">Messages{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</a></li>
                                        <li><a class="dropdown-item" href="{% url 'profile' %}">Settings</a></li>
                                        <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
                                    </ul>
                                </div>
                                <button type="button" id="btnCart" class="btn btn-dark shadow-sm" data-bs-toggle="offcanvas" data-bs-target="#cartOffcanvas" aria-controls="cartOffcanvas">Cart</button>
                            </div>
                            <a href="/" title="Home" class="stretched-link"></a>
                        </div>
                    </div>
                    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
                        <div class="container-fluid">
                            <div class="navbar-brand d-lg-none">Punky Cuts</div>
                            <button class="navbar-toggler type="button" data-bs-toggle="collapse" data-bs-target="#navbarGlobal">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-center" id="navbarGlobal">
                                <ul class="navbar-nav p-1">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'products' %}">All Products</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbardropSeasonal" role="button" data-bs-toggle="dropdown" aria-expanded="false">Seasonal</a>
                                        <ul class="dropdown-menu" aria-labelledby="navbardropSeasonal">
                                            <li><a class="dropdown-item" href="{% url 'products' 'fall' %}">Fall</a></li>
                                            <li><a class="dropdown-item" href="{% url 'products' 'winter' %}">Winter</a></li>
                                            <li><a class="dropdown-item" href="{% url 'products' 'cicadas' %}">Cicadas</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbardropThemes" role="button" data-bs-toggle="dropdown" aria-expanded="false">Themes</a>
                                        <ul class="dropdown-menu" aria-labelledby="navbardropThemes">
                                            <li><a class="dropdown-item" href="{% url 'products' 'food' %}">Food</a></li>
                                            <li><a class="dropdown-item" href="{% url 'products' 'diy' %}">DIY</a></li>
                                            <li><a class="dropdown-item" href="{% url 'products' 'womens-empowerment' %}">Women's<br>Empowerment</a></li>
                                        </ul>                               
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbardropTypes" role="button" data-bs-toggle="dropdown" aria-expanded="false">Product Types</a>
                                        <ul class="dropdown-menu" aria-labelledby="navbardropTypes">
                                            <li><a class="dropdown-item" href="{% url 'products' 'womens-empowerment' %}">T-Shirts</a></li>
                                            <li><a class="dropdown-item" href="{% url 'products' 'food' %}">Bags</a></li>
                                            <li><a class="dropdown-item" href="{% url 'products' 'diy' %}">Drinkware</a></li>
                                        </ul>                               
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'customize' %}">Customize</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'smallbusiness' %}">Support Local Business</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                {% for message in messages %}
                    <div id="toastNotif" role="alert" class="toast notification bg-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %}" role="alert" aria-live="assertive" aria-atomic="true" data-delay="8000">
                        <div class="toast-header">
                        <strong class="me-auto">
                            {% if message.tags == 'error' %}
                            <i class="fas fa-times mr-2"></i>
                            {% elif message.tags == 'warning' %}
                            <i class="fas fa-exclamation mr-2"></i>
                            {% elif message.tags == 'info' %}
                            <i class="fas fa-info mr-2"></i>
                            {% elif message.tags == 'success' %}
                            <i class="fas fa-check mr-2"></i>
                            {% endif %}
                            {{message.tags|capfirst}}
                        </strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close">
                        </button>
                        </div>
                        <div class="toast-body">
                        {{message|safe}}
                        </div>
                    </div>
                {% endfor %}
            </header>
            <main>
                <div class="content-container container">
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="cartOffcanvas" aria-labelledby="cartOffcanvasLabel">
                        <div class="offcanvas-header">
                            <h5 class="mx-auto" id="cartOffcanvasLabel">Shopping Cart</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body text-center justify-content-center">
                            <div class="row d-flex flex-column">
                                <div class="col-12 justify-content-center" id="cartContainer">
                                    {% if globalCart is not None %}
                                        <table class="table align-middle">
                                        {% for p in globalCart  %}
                                            <tr id="cartRow{{p.Product.id}}">
                                                <td class="align-middle"><img class="img-fluid" style="width:110px;object-fit:cover;" src="{{p.images.first.Picture.url}}"></td>
                                                <td colspan="2" class="align-middle">
                                                    <span class="d-inline-block">{{p.Product.Name}}
                                                    {% if p.Product.Type.Product_Type == 'T-Shirt' %}
                                                    <small class="d-block">Size: {{p.Product.Size.Product_Size}}</small>
                                                    {% endif %}
                                                    </span>
                                                </td>
                                                <td class="pe-0">
                                                    <select class="align-middle" name="quantityDropdown{{p.Product.id}}" id="quantityDropdown{{p.Product.id}}" onchange="updateCartQuantity(event)">
                                                        {% for n in maxPerProduct %}
                                                        <option value="{{n}}" {% if p.Quantity == n %} selected {% endif %}>{{n}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td class="p-0 align-top" style="position:relative;margin-left:-10px;">
                                                    {% comment %} <button type="button" class="remove-cart-prd" data-bs-dismiss="toast" aria-label="Close"> {% endcomment %}
                                                    <img id="cartRemove{{p.Product.id}}" title="Remove product from cart" onclick="removeFromCart(event)" role="button" style="position:relative;width:20px;height:20px;" src="{% static '/remove.png' %}">
                                                </td>
                                            </tr>
                                            {% comment %} {% if p.Product.Type.Product_Type == 'T-Shirt' %}
                                            <tr>
                                                <td><small class="pb-5 m">Size: </small></td>
                                            </tr> 
                                            {% endif %} {% endcomment %}
                                        {% endfor %}
                                        </table>
                                    {% else %}
                                    <p>No items in your cart. Add some!</p>    
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="offcanvas-footer my-3 center-block">
                            <div class="col-12 d-flex flex-column justify-content-center">
                                <h5 id="cartSubtotal" class="mb-2 d-block text-center {% if globalCart is None %} opacity-50 {% endif %}">Subtotal: {% if globalCart is not None %} ${{globalCart.cart.Subtotal|floatformat:2}} {% else %} $0.00 {% endif %}</h5>
                                <button id="checkoutBtn" class="d-block mx-auto btn btn-dark shadow-sm" {% if globalCart is None %} disabled {% endif %}}>Checkout</button>
                            </div>
                        </div>
                    </div>

                    {% block postman_menu %}

                    {% endblock %}
                    {% block content %}

                    {% endblock %} 

                </div>

            </main>
            <footer class="container">
                <div class="row">
                    <div class="col-12">
                        <hr><p class="text-center fs-6">&copy; Punky Cuts & her amazing dev team Punky Codes</p>
                    </div>
                </div>
            </footer>
        </div>
        <script>
            $(document).ready(function() {
                if (sessionStorage.getItem('cart-reload') == 'true') {
                    $('#btnCart').trigger('click');
                    sessionStorage.setItem('cart-reload', 'false');
                }
            });

            function updateCartQuantity(event) {
                p_id = event.target.name.slice(16)

                //p_id = 
                //console.log(id)
                $.post('{% url "handlecart" %}', 
                    {
                        quantity: event.target.value, 
                        csrfmiddlewaretoken: '{{ csrf_token }}', 
                        productid: p_id
                    },
                    function(data) {
                        if (data.subtotal > -1) {
                            let subtotal = 'Subtotal: $' + data.subtotal;
                            let div = document.getElementById('cartSubtotal')
                            div.innerHTML = subtotal;
                        }
                    }
                )
            }

            function removeFromCart(event) {
                p_id = event.target.id.slice(10)
                console.log(event, p_id);

                $.post('{% url "handlecart" %}',
                    {
                        csrfmiddlewaretoken: '{{ csrf_token }}', 
                        removeProd: p_id
                    },
                    function(data) {
                        console.log("event",event, "P_id", p_id);
                        let sel = '#' + event.target.id;
                        $(sel).slideUp(1300);
                        sel = '#' + event.target.parentElement.parentElement.id;
                        $(sel).fadeOut(2100);
                        //setTimeout(function(){sessionStorage.setItem('cart-reload', 'true');location.reload();},3000)
                        if (data.subtotal > -1) {
                            if (data.subtotal == 0 || data.subtotal == '0.00') {
                                let checkout = document.getElementById('checkoutBtn');
                                checkout.setAttribute('disabled', '');
                                let subt = document.getElementById('cartSubtotal');
                                subt.classList.add('opacity-50');
                                let p = document.createElement("p");
                                p.innerText = 'No items in your cart. Add some!';
                                let container = document.getElementById('cartContainer');
                                container.appendChild(p);
                            }
                            let subtotal = 'Subtotal: $' + data.subtotal;
                            let div = document.getElementById('cartSubtotal')
                            div.innerHTML = subtotal;
                        }
                    }
                )
            }
        </script>
        {% if messages %}
            <script>
                    $(document).ready(function () {
                        $('.toast').toast('show');
                    });
            </script>
            <script type="text/javascript">DJANGO_STATIC_URL = '{{ STATIC_URL }}';</script>
        {% endif %}
    </body>
</html>