{% extends "store_index/base.html" %}
{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:,">
        
        
        {% block head %}
        <title>Profile</title>
        {% endblock %}

    </head>
    <body>
    {% block content %}

        <div class="container mt-3">
            <div class="row justify-content-center">
                <div class="col-12 d-flex justify-content-center">
                  Hi {{ user }} how are ya, {{ customer.FirstName }}
                  {% if customer_list %}
                  {% for customer in customer_list %}
                  {{customer.FirstName}}
                  {% endfor %}
                  {% endif %}
                </div>
            </div>

        </div>
    {% endblock %}
    </body>
</html>