{% extends "store_index/base.html" %}

{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-12 d-flex flex-column justify-content-center">
            <h5 class="text-center">Enter your email here to subscribe to our newletter today.</h5>
            <form method="POST" class="mt-4">{% csrf_token %}                
                <div class="input-group ms-2 d-flex justify-content-center">
                {{ Form.as_p }}               
                    <span class="input-group-btn">
                        <button class="ms-2 mx-auto btn btn-dark shadow-sm" type="submit" padding-left: 150px;>Subscribe</button>                      
                    </span>
                </div>
            </form>
        </div>
    <div>
<div>
{% endblock %}