{% extends 'store_index/base.html' %}
{% load static %}

{% block head %}
    <title>Punky-Products</title>
{% endblock %}

{% block content %}
    <section class="product-list">
            {% for product in products %}
                {% comment %} {% if  %} {% endcomment %}
                    <a class="card" href="{% url 'product_details' product.slug %}">
                    {% comment %} {{ product.get_absolute_url }} {% endcomment %}
                        {% for image in images %}
                            {% if image.Product_id == product.id %}
                                <img src="{{ image.Picture.url }}" class="card-img-top" alt="bubbly shirt">
                            {% endif %}
                        {% endfor %}
                        <div class="card-body">
                            <h5 class="card-title">{{ product.productName }}</h5>
                            <p class="card-text">Price: ${{ product.price }}</p>
                            <p class="card-text">Click for details</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ product.quantity }} Left in Stock!</small>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Categories for product:</small><br>
                            {% for category in product.categories %}
                            <small class="text-muted">{{ category }}</small><br>
                            {% endfor %}
                        </div>
                    </a>
                {% comment %} {% endif %} {% endcomment %}
            {% endfor %}
        </section>

{% endblock %}


