{% extends "store_index/base.html" %}
{% load static %}
{% load store_extras %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        
        {% block head %}
        <title>Administrator Dashboard</title>
        <style>
            .adminBtns>a:hover {
                background-color:grey;
            }
        </style>
        {% endblock %}

    </head>
    <body>
    {% block content %}

        <div class="container text-center mt-3">
            <div class="row justify-content-center">
                <div class="col-12 d-flex flex-column justify-content-center">
                   <h1>Administrator Dashboard</h1>
                    <div class="col-12 mt-2 adminBtns">
                        <a class="btn border col-3 p-2" href="{% url 'admin:index' %}">Database Admin</a>
                        <a class="btn border col-3 mx-3 p-2" href="{% url 'reports' %}">View Reports</a>
                        <a class="btn border col-3 p-2" href="{% url 'turnoff' %}">Close Site</a>
                    </div>
                    <div class="col-12 mt-3 adminBtns">
                        <a class="btn border col-3 p-2" href="https://punkycuts.pythonanywhere.com/admin/store_index/order/">View Orders</a>
                        <a class="btn border col-3 mx-3 p-2" href="https://punkycuts.pythonanywhere.com/admin/store_index/inventory/">Manage Inventory</a>
                        <a class="btn border col-3 p-2" href="https://punkycuts.pythonanywhere.com/admin/store_index/product/">Manage Products</a>
                    </div>
                    <div class="mt-3 col-12 adminBtns">
                        <a class="btn border col-3 p-2" href="{% url 'news_write' %}">Write Newsletter</a>
                    </div>

                </div>
            </div>
            <div class="col-12">
                <!--View Products, View Orders, Compose Newletter-->
            </div>

        </div>

    {% endblock %}
    </body>
</html>