{% extends "postman/base.html" %}
{% load i18n static %}
{% block extrahead %}
{{ block.super }}
{% if autocompleter_app.is_active %}{# using the available admin jQuery is enough #}
{# should not be necessary since AS v1.3 with AJAX_SELECT_BOOTSTRAP set #}
{#<script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>#}
{% endif %}
{{ form.media }}{# for ajax_selects (v1.3.6 at least) #}
{% endblock %}
{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center"> 
        <div class="col-12-md col-10-sm d-flex justify-content-center">
            <div id="postman">
            <h1 class="text-center">{% block pm_write_title %}{% endblock %}</h1>
            <form action="{% if next_url %}?next={{ next_url|urlencode }}{% endif %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            <table class="writeTableStyle">
            {% block pm_write_recipient %}{% endblock %}
            {{ form.as_table }}
            </table>
            <div class="text-center">
                <button type="submit" class="mx-auto btn btn-primary pm_btn pm_btn-send">{% trans "Send" %}</button>
            </div>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}